.post-wrapper {
	width: 80%;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: var(--background-secondary-color);
	border-radius: 22px;
	padding: 20px;
}

.post-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	align-items: center;
}

.post-author__info {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	gap: 15px;
	padding-bottom: 30px;
}

.post-author-date__container {
	text-align: start;
}
.post-author-date__container p {
	line-height: 0.6;
}

.post-author__info img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
	image-rendering: auto;
}

.post-author-date__container p:nth-child(1) {
	font-weight: bold;
}

.post-author-date__container p:nth-child(2) {
	color: var(--secondary-text-color);
	font-size: 0.9rem;
}

.post-data {
	width: 100%;
}

.post-data h6 {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 30px;
	margin: 0;
}

.post-data p {
	text-align: left;
}

.favourite-ico {
	font-size: 32px;
	margin-left: auto;
	transition: 0.2s all ease-in;
}

.favourite-ico.active {
	color: goldenrod;
}

.favourite-ico.active:hover {
	color: rgb(206, 170, 80);
}

.favourite-ico:hover {
	color: rgb(202, 202, 202);
	cursor: pointer;
}
