.button {
	transition: 0.3s all ease;
	margin: 15px;
	padding-inline: 20px;
	border-radius: 10px;
	border: none;
	padding-block: 8px;
	box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-transform: capitalize;
}

.button:hover {
	background-color: var(--secondary-text-color);
}
