.main-wrapper {
	display: flex;
	flex-direction: column;
	min-height: auto;
	position: relative;
}

.main-wrapper::after {
	content: '';
	display: block;
	height: 300px;
}

.header-wrapper {
	width: 80%;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.background-wrapper {
	width: 100%;
	position: absolute;
	z-index: 2;
}

.background-wrapper img {
	transition: 0.3s all ease-out;
}

.background {
	position: relative;
	width: 100%;
	height: 220px;
	border-radius: 22px;
}

.background img {
	object-fit: cover;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	z-index: 1;
}

.change-background-overlay {
	top: 0;
	right: 0;
	position: absolute;
	margin: 15px;
	padding: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 9px;
	background-color: rgba(0, 0, 0, 0.692);
	opacity: 0;
	transition: 0.3s all ease-out;
	width: 25px;
	height: 25px;
}

.background-wrapper img:hover {
	filter: brightness(0.6);
}

.background-wrapper:hover .change-background-overlay {
	opacity: 1;
}

.change-background-ico {
	color: white;
	font-size: 25px;
	cursor: pointer;
}

.avatar-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 2;
}

.avatar {
	position: absolute;
	bottom: -260px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-color: rgb(145, 145, 145);
	border: 10px var(--background-color) solid;
	transition: 0.3s all ease;
	z-index: 2;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.change-avatar-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: var(--primary-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: inherit;
	transition: 0.3s all ease-out;
	opacity: 0;
}

.profile-name {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.data-wrapper {
	background-color: var(--background-secondary-color);
	width: 30%;
	position: relative;
	margin: 0 auto;
	top: 233px;
	text-align: center;
	border-radius: 22px;
}

.data-wrapper h1 {
	color: var(--primary-text-color);
	padding-top: 1.7rem;
	margin: 0;
}

.data-wrapper h4 {
	color: var(--primary-text-color);
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.data-wrapper h4 span {
	font-weight: bold;
}

.more-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: var(--secondary-text-color);
	font-size: 18px;
}

.more-info-container .more-info {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	gap: 3px;
	cursor: pointer;
	transition: 0.3s all ease;
}

.more-info:hover {
	color: var(--primary-text-color);
}

.profile-description {
	font-size: 16px;
	text-wrap: wrap;
	word-wrap: break-word;
	padding-inline: 15px;
	color: var(--secondary-text-color);
}

.change-avatar-overlay:hover {
	background-color: rgba(0, 0, 0, 0.452);
	opacity: 1;
}

.avatar img:hover {
	background-color: rgb(75, 75, 75);
}

.change-avatar-ico {
	cursor: pointer;
}

.change-avatar-overlay input {
	display: none;
}

.change-background-overlay input {
	display: none;
}

.default-banner {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}
