.post-creator__container {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.post-creator__container h3 {
	padding: 20px;
	margin: 0;
	border-bottom: 1px solid var(--secondary-text-color);
}

.post-creator__form {
	display: flex;
	flex-direction: column;
	gap: 22px;
	padding: 25px;
	align-items: center;
	width: 100%;
}

.post-creator__form > div:nth-child(1) {
	border: 1px var(--secondary-text-color) solid;
}

.post-creator__container {
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
}

.post-creator__container .card-tag {
	text-align: left;
	align-self: flex-start;
	padding-left: 10px;
	padding-top: 25px;
	padding-bottom: 10px;
}

.post-creator__container .card-description {
	text-align: left;
	align-self: flex-start;
	padding-left: 10px;
	padding-top: 25px;
	padding-bottom: 10px;
	width: 100%;
}

.post-creator__container .card-title {
	width: 100%;
	text-align: center;
}

.post-creator__container .post__image {
	/* width: 75%; */
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-fit: cover;
	border-radius: 22px;
	transition: 0.3s all ease-in-out;
	aspect-ratio: 5/5;
	position: relative;
}

.post__image-container {
	height: 100%;
	object-fit: cover;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.clear-img__button-ico {
	transition: 0.3s all ease-in-out;
	z-index: 5;
	top: 0;
	right: 0;
	position: absolute;
	font-size: 32px;
	opacity: 0;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.849);
	padding: 2px;
	border-radius: 50%;
	background-color: rgb(109, 109, 109);
}

.post__image-container:hover .clear-img__button-ico {
	opacity: 1;
}

.post__image-container:hover .post__image {
	filter: brightness(0.6);
}

.post__images-container {
	display: grid;
	width: 100%;
	height: 100%;
	gap: 10px;
	/* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
	grid-template-columns: repeat(3, 2fr);
}
